html{
    font-family: 'Gantari', sans-serif;
}
.emp-details{
width: 280px;
height: 450px;
border: 5px;
text-align: center;
background-color:#f2b3ae ;
border-radius: 15px;
padding: 10px;
margin: 50px 10px 10px ;
box-shadow: #b8adad;
}
img{
    border-radius: 50%;
    box-shadow: 2px 3px 8px #b8adad;
}
button{
    padding: 10px;
    border-radius: 15px;
    background-color:#ccd0e9 ;
}
.a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer{
    display: flex;
    background-color: #ccd0e9;
    justify-content: space-around;
}